* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  min-height: 100vh;
}

.App {
  max-width: 1200px;
  width: 100%;
  background-color: white;
}

.feedItem {
  padding: 1rem;
}